body {
    color: #333333;
    font-family: arial;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;   
}

.lynxlogo {
    margin-left: 2%;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* ---TAB--- */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 5px solid #E6E6FA;
  background-color: grey;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #bbbbd8;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(101, 60, 153);
}

/* Style the tab content */
.tabcontent {
  display: none;
  /*padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;*/
}

/* ---INPUT---*/
input {
  border: 1px solid #cccccc;
  padding: 8px;
  margin-left: 2%;
  margin-top: 1%;
  display: block;
  width: 100%;
}

.score-input {
  width: 50px;
  font-size: 20px;
}

.name-input {
  width: 100px;
  font-size: 20px;
}

/* ---BUTTONS----*/

/* use bootstrap buttons
  button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #55009c;
    color: white;
    font-size: x-large;
    padding: 8px;
}

button:active {
    background: #444444;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
 }
*/

.button-plus {
  display: inline-block;
  padding: 5px 10px;
  font-size: 25;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #07cc5f;
  border: none;
  border-radius: 10px;
}

.button-minus{
  display: inline-block;
  padding: 5px 10px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f80a32;
  border: none;
  border-radius: 10px;
}

/* ---OTHER---*/
.submenu {
  text-align: center;
  font-size: xx-large;
  background-color: lightgray;
}

.row_spacer {
  height: 20px;
}